table {
	font-size: 2em;
	
	width: 100%;
	padding: 0.1em;
	
	border-width: 2px;
	border-spacing: 2px;
	border-style: dashed;
	border-color: gray;
	border-collapse: separate;
	
	background-color: white;
}

table caption {
	font-size: 2em;
}

table th {
	border-width: 0px;
	padding: 3px;
	border-style: none;
	border-color: white;
	background-color: white;
	
	border-bottom-style: dotted;
	border-bottom-color: darkgrey;
	border-bottom-width: 2px;
	
	text-align:center;
	text-style:bold;
}
table td {
	border-width: 0px;
	padding: 3px;
	border-style: none;
	border-color: white;
	background-color: white;
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align:center;
}
