
<html>
    <body class="shopping">
        <table class="shopping">
            <caption class="shopping">Shopping list for $date</caption>
            <tr class="shopping">
                <th class="shopping">&#x2611;</th>
                #for $i in $headings:
					<th class="shopping">$i</th>
				#end for
            </tr>
            
            #for $i in $ingredients:
            <tr class="shopping">
            		<td class="shopping">&#x2610;</td>
            	#for $d in $i:
        			<td class="shopping">$d</td>
            	#end for
            </tr>
            #end for
            
        </table>
    </body>
</html>
